.my-card {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22rem;
}
h1 {
    display: inline-block;
    margin-right: 1rem;
}
h4 {
    display: inline-block;
}

@media screen and (max-width: 1000px){
    .title {
        font-size: 1rem;
    }
}
